<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="normalize.css">
    <title>Icone pronto com content</title>
    <style>
        
        .tip::before {
            content: '\261E';
            margin-right: 10px;
        }

    </style>
</head>
<body>

    <!--exemplo de icone pronto com content-->

    <p class="tip">você sabia que...</p>

    <script src="jquery.min.js"></script>
</body>
</html>