<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="normalize.css">
    <title>Estilo para botao grande e pequeno</title>
    <style>
        .button {
            background-color: #999999;
            color: white;
            display: inline-block;
            font-weight: bold;
            padding: 0.5em 1em;
            text-decoration: none;
        }

        .primary-button {
            background-color: #389739;
        }

        .big-button {
            font-size: 1.1em;
        }

        .small-button {
            font-size: 0.9em;
        }
    </style>
</head>

<body>

    <!--estilo criado do zero para butao grande e normal-->

    <a href="#" class="button primary-button big-button">Enviar mensagem</a>
    <a href="#" class="button small-button">Cancelar</a>

    <script src="jquery.min.js"></script>
</body>

</html>