<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="normalize.css">
    <title>Utilizando Boder radius</title>
    <style>
        @font-face {
            font-family: 'IconicFill';
            src: url('iconic_Fill.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }

        .tnt {
            border-radius: 50%;
            border: 5px solid #000;
            height: 50px;
            line-height: 50px;
            text-align: center;
            width: 50px;
        }
    </style>
</head>

<body>

<!--
    Todo elemento HTML é comparado a uma caixa, mas nem todos os elementos das nossas interfaces precisam ser quadrados. Em vez de se utilizar imagens a torto e direito,
    podemos utilizar o border-radius para arredondar os cantos dos seus elementos. A propriedade aceita até 4 valores, seguindo o modelo de outros como margin
    e padding, sendo a única diferença que o primeiro valor é referente ao canto superior esquerdo do elemento, seguindo em diante no sentido horário. Enquanto
    alguns cantos arredondados podem parecer apenas um pequeno detalhe estético, o border-radius consegue criar mais do que isso. Veja a seguir.
 -->
    <h3 class="tnt">TNT</h3>

    <script src="jquery.min.js"></script>
</body>

</html>