<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="normalize.css">
    <title>Utilizando Boder radius</title>
    <style>
        @font-face {
            font-family: 'IconicFill';
            src: url('iconic_Fill.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }

        .tnt {
            border-radius: 50%;
            border: 5px solid #000;
            height: 50px;
            line-height: 50px;
            text-align: center;
            width: 50px;
        }
    </style>
</head>

<body>

    <!--usando border radius para criar circulos -->
    <h3 class="tnt">TNT</h3>

    <script src="jquery.min.js"></script>
</body>

</html>