<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="normalize.css">
    <!--
    Agora, vamos carregar a fonte Press Start 2P (http://www.google.com/webfonts/specimen/Press+Start+2P),
    para adicionar um visual nostálgico de 8 bits ao título. Adicione a seguinte linha de HTML ao head da sua página.
    Se você acessar o endereço desta folha de estilo, http://fonts.googleapis.com/css?family=Press+Start+2P, verá que ela não faz nada além de denir a fonte Press Start
    2P, referenciando um arquivo .woff presente nos servidores do Google. Podemos então utilizar esta fonte no h1 que criamos.
    -->
    <link href="htpp://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <title>exemplo fonte do google</title>
    <style>
        
        /*Fonte baixada do google*/
        h1 {
            font-family: 'Press Start 2P', cursive;
        }
    </style>
</head>
<body>

    <!--Existem alguns serviços disponíveis na Internet que facilitam o uso de fontes adicionais, disponibilizando o código necessário, servindo os arquivos de fonte e tratando
    de assuntos relacionados a licenças de uso, por exemplo. Os mais famosos neste campo são o Typekit (https://typekit.com) e o Google Web Fonts (http:
    //www.google.com/webfonts). Alguns sites alternativos disponibilizam o download dos arquivos necessários
    e um exemplo de uso das fontes em CSS, mas sem servir os arquivos diretamente dos seus servidores, deixando esta responsabilidade a nós desenvolvedores,
    como o FontSpring (http://www.fontspring.com/) e FontSquirrel (http://www.fontsquirrel.com/).
    Podemos utilizar o serviço de fontes do Google, o Google Web Fonts, para praticar um pouco. Comece com o seguinte HTML.-->

    <h1>HTML & CSS</h1>

    <script src="jquery.min.js"></script>
</body>
</html>