<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="normalize.css">
    <title>Nao é questao de Aparelho</title>
    <style>
        /*
        por exemplo:
        */
        @media only screen and (min-width : 1824px) {
            /*
            Aqui você pode adicionar estilos para se aproveitar
            de uma tela maior: aumentando fontes, ícones, e
            largura dos seus elementos
            */
        }
    </style>
</head>

<body>

    <!--
        Você pode considerar que toda esta atenção para adequar os seus projetos para diversos dispositivos
        como o último iPad ou os smartphones do Google, mas esta losoa
        se aplica para o mundo de notebooks e desktops que estamos tão acostumados a ver.
        Com diversas resoluções diferentes por aí, indo de 11” até 27”, e a inclusão do
    -->
    <!--
        Retina display na terceira geração da linha do MacBook Pro,
        é possível renar a experiência de uso para tirar proveito da abundância de pixels ou da qualidade da resolução do usuário.
        Basta possuir um grupo de estilos para larguras acima de 1824px,


    -->

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
</body>

</html>